@font-face {
    font-family: 'Alro';
    src: url('AlroBold.woff2') format('woff2'),
        url('AlroBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Alro';
    src: url('AlroBold.woff2') format('woff2'),
        url('AlroBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Alro';
    src: url('AlroBold.woff2') format('woff2'),
        url('AlroBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Alro';
    src: url('AlroRegular.woff2') format('woff2'),
        url('AlroRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

